<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz | Add Question</title>

</head>
<body>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 d-flex align-items-center">
            <h1>Stwórz nowe pytanie</h1>
        </div>
        <div class="">
            <form class="" th:object="${question}" th:action="@{/addquestion}" method="post">
                <div class="form-group">
                    <label for="question"> tekst pytania </label>
                    <input class="form-control" id="question" th:field="*{question}" type="text"/>
                </div>
                <div class="form-group">
                    <label for="point"> punkty za poprawną odpowiedz </label>
                    <input class="form-control" id="point" th:field="*{point}" type="number"/>
                </div>
                <div class="form-group">
                    <p>odpowiedzi : </p>
                    <div class="form-group" >
                        1
                        <input type="text" th:field="*{answersList[0].answer}">
                        <input type="checkbox" th:field="*{answersList[0].isCorrect}">

                    </div>
                    <div class="form-group" >
                        2
                        <input type="text" th:field="*{answersList[1].answer}">
                        <input type="checkbox" th:field="*{answersList[1].isCorrect}">

                    </div>
                    <div class="form-group" >
                        3
                        <input type="text" th:field="*{answersList[2].answer}">
                        <input type="checkbox" th:field="*{answersList[2].isCorrect}">

                    </div>
                    <div class="form-group" >
                        4
                        <input type="text" th:field="*{answersList[3].answer}">
                        <input type="checkbox" th:field="*{answersList[3].isCorrect}">

                    </div>

                </div>
                <div class="form-group">

                </div>
                <div>
                    <input type="submit" value="dodaj pytanie" >
                </div>
            </form>
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
<script src="/static/js/form.js"></script>
</body>
</html>