<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="pl">

<div th:replace="fragments/head "></div>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home</title>
</head>
<body class="home blog custom-background content-sidebar">
<div class="container">
    <div id="page" class="hfeed row">

        <div th:replace="/fragments/header"></div>

        <section id="primary2" class="span8">
        <div>
            <div>
                <h2>utwórz nowy quiz</h2>
            </div>
            <form th:object="${quiz}" method="post" th:action="@{addquiz}">
                <div>
                    <label > nazwa
                        <input type="text" th:field="*{title}" placeholder="isert title here">
                    </label>
                </div>
                <div>
                    <label > kategoria
                        <select>
                            <option th:each="cat : ${T(sda.quiz.entity.utilities.Category).values()}" th:text="${cat}"></option>
                        </select>
                    </label>
                </div>
                <div>
                    <label > opis
                        <textarea th:field="*{description}" placeholder="Write description ..." ></textarea>
                    </label>
                </div>
                <br><br>
                <div th:each="question,iter : ${questionList}">
                    <label th:text="${question.question}"> </label>
                    <input type="checkbox" name="questionsToAdd" th:value="${question.id}" />

                </div>
                <div>
                    <input type="submit"> confirm
        </div>
        </form>
    </div>
        </section>
    <section id="secondary" class="widget-area span4" role="complementary">
        <aside   class="widget well widget_recent_entries">
            <h2 class="widget-title" th:text="${userName}"></h2>

        </aside>
        <div th:replace="fragments/panelAdmin"></div>
        <div th:replace="fragments/listaQuiz"></div>



    </section>




    <div th:replace="fragments/footer "></div>

</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>

