<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>Wyniki</h1>

<div>
    <table>
        <thead>
            <tr>
                <td>numer pytania</td>
                <td>treść</td>
                <td>udzielona odpowiedz</td>
                <td><b>czy poprawnie </b></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ans,iter : ${answer}">
                <td th:text="*{ans.key.id}"></td>
                <td th:text="*{ans.key.question}"></td>
                <td ></td>
                <td th:text="*{ans.value.booleanValue()}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>