<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head "></div>

<body class="home blog custom-background content-sidebar">
<div class="container">
    <div id="page" class="hfeed row">

        <div th:replace="/fragments/header"></div>


        <div style="margin-left: 20px;">
            <form th:object="${quiz}" th:action="@{/}" method="post">
                <table>
                    <th:block th:each="question : *{getQuestions()}">
                    <tr>
                        <td colspan="4" align="center"><span th:text="${question.question}"></span> </td>
                    </tr>
                        <tr>
                            <th:block th:each="answer : ${question.answersList}">
                            <td><span th:text="${answer.answer}"></span>aaaaaaaaaaaa<!--<input type="checkbox" th:checked="${answer.isCorrect}"> --></td>
                            </th:block>
                        </tr>

                    </th:block>
                </table>

            </form>

            <th:block th:each="ques : ${quiz.questions}">
                <th:block th:each="ans : ${ques.answersList}">
                    <p th:text="${ans.question}"></p>
                </th:block>
            </th:block>
        </div>



        <div th:replace="fragments/footer "></div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>

