<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head "></div>

<body class="home blog custom-background content-sidebar">
<div class="container">
    <div id="page" class="hfeed row">

        <div th:replace="/fragments/header"></div>


        <div style="margin-left: 20px;">
            <form th:object="${quiz}" th:action="@{quiz/checkAnswer}" method="post">
                <input type="hidden" th:field="*{idQuiz}" th:value="*{idQuiz}">

                <table>

                    <th:block th:each="question,ind : *{questions}">
                    <tr>
                        <input type="hidden" th:field="*{questions[__${ind.index}__].id}" th:value="${question.id}">
                        <td colspan="4" align="center"><span th:text="${question.question}"></span> </td>
                    </tr>
                        <tr>
                            <th:block th:each="answer,iter : *{questions[__${ind.index}__].answersList}">
                                <input type="hidden" th:field="*{questions[__${ind.index}__].answersList[__${iter.index}__].idAnswer}" th:value="${answer.idAnswer}">
                            <td><span th:text="${answer.answer}"></span><input  th:field="*{questions[__${ind.index}__].answersList[__${iter.index}__].isCorrect}" type="checkbox" ></td>
                            </th:block>
                        </tr>

                    </th:block>
                </table>
                <input type="submit" value="sprawdz">
            </form>
           <a th:href="@{/admin/home}" > <button type="submit" class="btn btn-inverse" >wróć</button></a>

        </div>



        <div th:replace="fragments/footer "></div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>

