<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <style>
        tr {
            margin: auto;


        }
        table{
            margin-right: 20px;
            padding-right: 20px;
            width: 97%;
        }
        .empty{
            width: 100%;
            height: 20px;
            border-top: goldenrod solid 2px;
        }
    </style>
    <title>Quiz</title>
</head>
<div th:replace="fragments/head "></div>

<body class="home blog custom-background content-sidebar">
<div class="container">
    <div id="page" class="hfeed row">
        <header id="branding" role="banner" class="span12">
            <div th:replace="fragments/header "></div>
            <nav id="access" role="navigation">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container">
                            <span class="brand">MENU </span>
                            <div class="nav-collapse">
                                <div class="menu-tab-navi-container">
                                    <ul id="menu-tab-navi" class="nav">
                                        <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
                                            <a href="/admin/home">wróć</a></li>
                                    </ul>
                                </div>
                                <!--                            <form id="searchform" class="navbar-search pull-right" method="get" action="http:///">-->
                                <!--                                <label for="s" class="assistive-text hidden">Search</label>-->
                                <!--                                <input type="search" class="search-query" name="s" id="s" placeholder="Search">-->
                                <!--                            </form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div style="margin-left: 20px;">
            <form th:object="${quizToRun}" th:action="@{quiz/checkAnswer}" method="post">
                <input type="hidden" th:field="*{idQuiz}" th:value="*{idQuiz}">

                <table>

                    <th:block th:each="question,ind : *{questions}">
                    <tr>
                        <input type="hidden" th:field="*{questions[__${ind.index}__].id}" th:value="${question.id}">
                        <td colspan="8" align="center"><span th:text="${question.question}"></span> </td>
                    </tr>
                        <tr>
                            <th:block th:each="answer,iter : *{questions[__${ind.index}__].answersList}">
                                <input type="hidden" th:field="*{questions[__${ind.index}__].answersList[__${iter.index}__].idAnswer}" th:value="${answer.idAnswer}">
                                <td style="text-align: right"><input style="vertical-align: top;" th:field="*{questions[__${ind.index}__].answersList[__${iter.index}__].isCorrect}" type="checkbox" ></td>
                                <td style="text-align: left"><span th:text="${answer.answer}"></span>
                            </th:block>
                        </tr>
                    <tr ><td class="empty" colspan="8"></td></tr>
                    </th:block>
                </table>
                <hr>
                <input type="submit" value="sprawdź" class="btn btn-md btn-warning btn-block" style="width: 97%">
            </form>


        </div>



        <div th:replace="fragments/footer "></div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>

