<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer id="colophon" role="contentinfo" class="span12">
        <div id="page-footer" class="well clearfix">
            <span class="credits alignleft">© 2019 <a href="http://index.html/">Serwis do QUIZÓW i ANKIET</a>,   w budowie.</span>
            <div id="site-generator">
                <a href="http://index.html/" title="Serwis do QUIZÓW i ANKIET" target="_blank" rel="generator">@ Bootstrap </a>
            </div>
        </div>
    </footer>
</div>