<!--<div th:fragment="footer"   xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--    <nav id="access" role="navigation">-->
<!--        <div class="navbar navbar-inverse">-->
<!--            <div class="navbar-inner">-->
<!--                <div class="container">-->

<!--                    <div class="nav-collapse">-->
<!--                        <div class="menu-tab-navi-container">-->
<!--                            <ul id="menu-tab-navi" class="nav">-->
<!--                                <li id="menu-item-708" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-708 active">-->
<!--                                    <span class="credits alignleft">© 2019 <a href="/">Serwis do QUIZÓW i ANKIET</a>,   w budowie.</span></li>-->


<!--                            </ul>-->
<!--                        </div>-->
<!--&lt;!&ndash;<option th:field="*{categories}">&ndash;&gt;-->
<!--&lt;!&ndash;    <option th:each="categorie : ${categoryList}" th:text="${categories.getName()}" th:value="${categorie.id}"</option>&ndash;&gt;-->
<!--&lt;!&ndash;</select>&ndash;&gt;-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->

<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer id="colophon" role="contentinfo" class="span12">
        <div id="page-footer" class="well clearfix">
            <span class="credits alignleft">© 2019 <a href="/">Serwis do QUIZÓW i ANKIET</a>,   w budowie.</span>
            <div id="site-generator">
                <a href="/" title="Serwis do QUIZÓW i ANKIET" target="_blank" rel="generator">@ Bootstrap </a>
            </div>
        </div>
    </footer>
</div>