<header id="branding" role="banner" class="span12" xmlns:th="http://www.w3.org/1999/xhtml">
    <hgroup>
        <h1 id="site-title"> <span>Serwis do ANKIET </span></h1>
        <h2 id="site-description">Projekt SDA</h2>
    </hgroup>

    <nav id="access" role="navigation">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <span class="brand">MENU </span>
                    <div class="nav-collapse">
                        <div class="menu-tab-navi-container">
                            <ul id="menu-tab-navi" class="nav">
                                <li id="menu-item-708" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-708 active">
                                    <a th:href="index">Home</a></li>
                                <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
                                    <a th:href="quiz">Quizy</a></li>
                                <li id="menu-item-702" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
                                    <a th:href="index">Ankiety</a></li>

                            </ul>
                        </div>

                        <form id="searchform" class="navbar-search pull-right" method="get" action="http:///">
                            <label for="s" class="assistive-text hidden">Search</label>
                            <input type="search" class="search-query" name="s" id="s" placeholder="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>