<aside   class="widget well widget_recent_entries" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2>Panel administracyjny</h2>
    <ul>
        <li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
            <a th:href="index">Ankiety</a></li>
        <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
            <a th:href="addquestion">Dodaj pytania</a></li>
        <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
            <a th:href="@{question/showAllQuestion}">Pokaż pytania</a></li>
        <li  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
            <a th:href="index">Ankiety</a></li>
    </ul>

</aside>