<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div id="content" role="main" th:fragment="default">
    <article>
        <header class="page-header">
            <h1 class="entry-title"><a href="/index" title="  ">Darmowe ankiety online Primary!!</a></h1>
            <div class="entry-meta">
                <span> Zacznij tworzyć ankiety online! </span>
            </div>
        </header>
        <header class="page-header">
            <div class="entry-meta">
                <span> Twórz ankiety i otrzymaj odpowiedzi szybko i łatwo.</span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p> Darmowe ankiety online<br>
                Nowoczesne oprogramowanie do badania zadowolenia klientów, opinii pracowników, badań rynku i innych
                ankiet
            </p>
            <p>
                <a href="/registration" class="more-link">Przejdz do rejestracji <span class="meta-nav">→</span></a>
            </p>
        </div>
    </article>
</div>


</body>
</html>