<aside   class="widget well widget_recent_entries" xmlns:th="http://www.w3.org/1999/xhtml" >
    <h2 class="widget-title">Stwórz darmowe konto:</h2>
    <form th:action="@{/registration}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Formularz do darmowej rejestracji</button>
    </form>

    <form th:action="@{/}" method="POST" class="form-signin">
        <br/>
        <h3 class="form-signin-heading" th:text="Logowanie"></h3>

        <input type="email" id="email" name="email" th:placeholder="Email"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>

<!--                            <div align="center">-->
<!--                                <p>Email or Password invalid, please verify</p>-->
<!--                            </div>-->

        <button class="btn btn-md btn-warning btn-block" name="Submit" value="Login" type="Submit" th:text="Login">Login</button>
    </form>
</aside>