<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head "></div>

<body class="home blog custom-background content-sidebar">
<div class="container">
    <div id="page" class="hfeed row">
        <header id="branding" role="banner" class="span12">
            <div th:replace="fragments/header "></div>
            <nav id="access" role="navigation">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container">
                            <span class="brand">MENU </span>
                            <div class="nav-collapse">
                                <div class="menu-tab-navi-container">
                                    <ul id="menu-tab-navi" class="nav">
                                        <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
                                            <a href="">Admin</a>  </li>
                                        <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
                                            <a href="/admin/addquestion">Dodaj Quiz</a></li>

                                        <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
                                            <a href="/admin/question/showAllQuestion">Edycja Quiz</a></li>
                                        <li id="menu-item-708" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-708 active">
                                         <a href="/admin/addAnkietę">Dodaj Ankietę</a></li>


                                    </ul>
                                </div>
                                <!--                            <form id="searchform" class="navbar-search pull-right" method="get" action="http:///">-->
                                <!--                                <label for="s" class="assistive-text hidden">Search</label>-->
                                <!--                                <input type="search" class="search-query" name="s" id="s" placeholder="Search">-->
                                <!--                            </form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <section id="primary" class="span8">
            <div id="content" role="main">
                <article>
                    <header class="page-header">
                        <h1 class="entry-title">Stwórz nową ankietę</h1>
                    </header>
                    <header class="page-header">
                        <div class="entry-meta">



                            <form class=""  th:action="@{/addAnkiete}" method="post" th:object="${ankiety}">
                                <div class="form-group">
                                    <div class="form-center">
                                        <label for="nameAnkiety"><h3>Nazwa ankiety: </h3></label>
                                    </div>
                                    <div class="form-center">
                                        <textarea id="nameAnkiety" th:field="*{nameAnkiety}" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-right">
                                        <label>Pytanie 1 (Ocena od 1-5)</label>
                                    </div>
                                    <div class="form-left">
                                            <input type="text" th:field="*{question}" placeholder="Pytanie" value=""  >
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="form-right">
                                        <label>Pytanie 2 (Ocena od 1-5)</label>
                                    </div>
                                    <div class="form-left">
                                        <input type="text"  placeholder="Pytanie" value="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-right">
                                        <label>Pytanie 3 (Ocena od 1-5)</label>
                                    </div>
                                    <div class="form-left">
                                        <input type="text"  placeholder="Pytanie" value=""  >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-right">
                                        <label>Pytanie 4 (Ocena od 1-5)</label>
                                    </div>
                                    <div class="form-left">
                                        <input type="text"  placeholder="Pytanie" value=""  >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-right">
                                        <label>Pytanie 5 (Ocena od 1-5)</label>
                                    </div>
                                    <div class="form-left">
                                        <input type="text"  placeholder="Pytanie" value=""  >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-right">
                                        <label>Pytanie 6 (Ocena od 1-5)</label>
                                    </div>
                                    <div class="form-left">
                                        <input type="text"  placeholder="Pytanie" value=""  >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-right">
                                        <label>Pytanie 7 (Ocena od 1-5)</label>
                                    </div>
                                    <div class="form-left">
                                        <input type="text"  placeholder="Pytanie" value=""  >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-right">
                                        <label>Pytanie 8 (Ocena od 1-5)</label>
                                    </div>
                                    <div class="form-left">
                                        <input type="text"  placeholder="Pytanie" value=""  >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-right">
                                        <label>Pytanie 9 (Ocena od 1-5)</label>
                                    </div>
                                    <div class="form-left">
                                        <input type="text"  placeholder="Pytanie" value=""  >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-right">
                                        <label>Pytanie 10 (Ocena od 1-5)</label>
                                    </div>
                                    <div class="form-left">
                                        <input type="text"  placeholder="Pytanie" value=""  >
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="form-center">
                                        <label for="nameAnkiety"> Pytanie otwarte: </label>
                                    </div>
                                    <div class="form-center">
                                        <textarea id="question_open" th:field="*{question}" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-center">
                                        <label for="nameAnkiety"> Pytanie otwarte: </label>
                                    </div>
                                    <div class="form-center">
                                        <textarea id="question_open1" th:field="*{question}" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-center">
                                        <label for="nameAnkiety"> Pytanie otwarte: </label>
                                    </div>
                                    <div class="form-center">
                                        <textarea id="question_open2" th:field="*{question}" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-center">
                                        <label for="nameAnkiety"> Pytanie otwarte:  </label>
                                    </div>
                                    <div class="form-center">
                                        <textarea id="question_open3" th:field="*{question}" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-center">
                                        <label for="nameAnkiety">Pytanie seryjne (jak czesto korzystasz), lista pytan :</label>
                                    </div>
                                    <div class="form-center">
                                        <textarea id="question_open4" th:field="*{question}" type="text" />
                                    </div>
                                </div>




                                <div class="form-group">
                                    <div class="form-right">
                                        <label>Pytanie seryjne</label>
                                    </div>
                                    <div class="form-left">
                                        <input type="text"  placeholder="opcja 1" value=""  >
                                        <input type="text"  placeholder="opcja 2" value=""  >
                                        <input type="text"  placeholder="opcja 3" value=""  >
                                        <input type="text"  placeholder="opcja 4" value=""  >
                                    </div>
                                </div>



                                <div class="form-group">

                                </div>
                                <div>
                                    <input type="submit" value="dodaj ankietę" >
                                </div>
                            </form>
<!--                            <p th:text="${error}"></p>-->

                        </div>
                    </header>

                    <div class="entry-content clearfix">
                        <p> </p>
                    </div>
                </article>
            </div>
        </section>

        <section id="secondary" class="widget-area span4" role="complementary">
            <!--            <div th:replace="/fragments/rejestracja"></div>-->

            <div th:replace="/fragments/listaQuiz"></div>
        </section>

        <div th:replace="fragments/footer "></div>

    </div>
</div>

</body>
</html>
