<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head "></div>

<body class="home blog custom-background content-sidebar">
<div class="container">
    <div id="page" class="hfeed row">
        <header id="branding" role="banner" class="span12">
            <div th:replace="fragments/header "></div>
        <nav id="access" role="navigation">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container">
                        <span class="brand">MENU </span>
                        <div class="nav-collapse">
                            <div class="menu-tab-navi-container">
                                <ul id="menu-tab-navi" class="nav">
                                    <li id="menu-item-708" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-708 active">
                                        <a th:href="index">Home</a></li>
                                    <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
                                        <a th:href="quiz">Quizy</a></li>
                                    <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
                                        <a th:href="registration">Rejestracja</a></li>
                                </ul>
                            </div>
<!--                            <form id="searchform" class="navbar-search pull-right" method="get" action="http:///">-->
<!--                                <label for="s" class="assistive-text hidden">Search</label>-->
<!--                                <input type="search" class="search-query" name="s" id="s" placeholder="Search">-->
<!--                            </form>-->
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        </header>
        <section id="primary" class="span8">
            <div id="content" role="main">
                <article>
                    <header class="page-header">
                        <h1 class="entry-title">Darmowe ankiety online</h1>
                    </header>
                    <header class="page-header">
                        <div class="entry-meta">
                            <span> Twórz ankiety i otrzymaj odpowiedzi szybko i łatwo.</span>
                        </div>
                    </header>

                    <div class="entry-content clearfix">
                        <p>Nowoczesne oprogramowanie do badania zadowolenia klientów, opinii pracowników, badań rynku i innych ankiet</p>                        <p>
                            <a href="/registration" class="more-link">Przejdz do rejestracji <span class="meta-nav">→</span></a>
                        </p>
                    </div>
                </article>
            </div>
        </section>

        <section id="secondary" class="widget-area span4" role="complementary">
            <div th:replace="/fragments/rejestracja"></div>


        </section>

        <div th:replace="fragments/footer "></div>

    </div>
</div>

</body>
</html>