<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head "></div>

<body class="home blog custom-background content-sidebar">
<div class="container">
    <div id="page" class="hfeed row">


        <div th:replace="fragments/header "></div>




<!--        <nav id="access" role="navigation">-->
<!--            <div class="navbar navbar-inverse">-->
<!--                <div class="navbar-inner">-->
<!--                    <div class="container">-->
<!--                        <span class="brand">MENU </span>-->
<!--                        <div class="nav-collapse">-->
<!--                            <div class="menu-tab-navi-container">-->
<!--                                <ul id="menu-tab-navi" class="nav">-->
<!--                                    <li id="menu-item-708" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-708 active">-->
<!--                                        <a href="index.html/">Home</a></li>-->
<!--                                    <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">-->
<!--                                        <a href="quizy.html">Quizy</a></li>-->
<!--                                    <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">-->
<!--                                        <a href="quiz.html">Ankiety</a></li>-->

<!--                                </ul>-->
<!--                            </div>-->

<!--                            <form id="searchform" class="navbar-search pull-right" method="get" action="http:///">-->
<!--                                <label for="s" class="assistive-text hidden">Search</label>-->
<!--                                <input type="search" class="search-query" name="s" id="s" placeholder="Search">-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->
<!--        </header>-->



        <section id="primary" class="span8">
            <div id="content" role="main">
                <article id="post-358"  >
                    <header class="page-header">
                        <h1 class="entry-title"><a href="http:/" title="  "  >Darmowe ankiety online</a></h1>
                        <div class="entry-meta">
                            <span> Zacznij tworzyć ankiety online! </span>
                        </div>
                    </header>
                    <header class="page-header">
                        <div class="entry-meta">
                            <span> Twórz ankiety i otrzymaj odpowiedzi szybko i łatwo.</span>
                        </div>
                    </header>

                    <div class="entry-content clearfix">
                        <p> Darmowe ankiety online<br>
                            Nowoczesne oprogramowanie do badania zadowolenia klientów, opinii pracowników, badań rynku i innych ankiet
                            <br><br><br><br><br><br><br><br><br><br>

                        </p>

                        <p>
                            <a href="http://" class="more-link">Przejdz do rejestracji <span class="meta-nav">→</span></a>
                        </p>
                    </div>
                </article>

            </div>
        </section>

        <section id="secondary" class="widget-area span4" role="complementary">
            <aside   class="widget well widget_recent_entries">
                <h2 class="widget-title">Stwórz darmowe konto:</h2>
                <form th:action="@{/registration}" method="get">
                    <button class="btn btn-md btn-warning btn-block" type="Submit">Formularz do darmowej rejestracji</button>
                </form>



                <form th:action="@{/login}" method="POST" class="form-signin">
                    <h3 class="form-signin-heading" th:text="Logowanie"></h3>
                    <br/>

                    <input type="text" id="email" name="email" th:placeholder="Email"
                           class="form-control"/> <br/>
                    <input type="password" th:placeholder="Password"
                           id="password" name="password" class="form-control"/> <br/>


                    <!--                    <div align="center" th:if="${#param}">-->
                    <!--                        <p style="font-size: 20px; color: #FF1C19;">Email or Password invalid, please verify</p>-->
                    <!--                    </div>-->

                    <button class="btn btn-md btn-warning btn-block" name="Submit" value="Login" type="Submit" th:text="Login">Login</button>
                </form>



            </aside>
            <aside id="recent-posts-2" class="widget well widget_recent_entries">
                <h2>Quizy wiedzy</h2>
                <ul>
                    <li>
                        <a href="/index">Historia</a>
                    </li>
                    <li>
                        <a href="/index">Ludzie</a>
                    </li>
                    <li>
                        <a href="/index">Geografia</a>
                    </li>
                    <li>
                        <a href="/index">Sport</a>
                    </li>
                </ul>
            </aside>
            <aside   class="widget well widget_recent_entries">
                <h2 >Kategorie ankiet</h2>
                <ul>
                    <li>
                        <a href="/index">  Test</a>
                    </li>

                    <li>
                        <a href="/index">  Test</a>
                    </li>

                </ul>
            </aside>
        </section>



        <div th:replace="fragments/footer "></div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>


