<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head "></div>

<body class="home blog custom-background content-sidebar">
<div class="container">
    <div id="page" class="hfeed row">
        <header id="branding" role="banner" class="span12">
        <div th:replace="fragments/header "></div>
        <nav id="access" role="navigation">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container">
                        <span class="brand">MENU </span>
                        <div class="nav-collapse">
                            <div class="menu-tab-navi-container">
                                <ul id="menu-tab-navi" class="nav">
                                    <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
                                        <a th:href="index">Home</a></li>

                                    <li id="menu-item-708" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-708 active">
                                        <a th:href="quiz">Quizy</a></li>
                                    <li   class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702">
                                        <a th:href="registration">Rejestracja</a></li>

                                </ul>
                            </div>

                            <!--                            <form id="searchform" class="navbar-search pull-right" method="get" action="http:///">-->
                            <!--                                <label for="s" class="assistive-text hidden">Search</label>-->
                            <!--                                <input type="search" class="search-query" name="s" id="s" placeholder="Search">-->
                            <!--                            </form>-->
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        </header>
        <section id="primary" class="span8">
            <div id="content" role="main">
                <article>
                    <th:block th:fragment="showAllQuiz">
                        <div>
                            <div>
                                <h3>lista quizów3</h3>
                            </div>
                            <di>
                                <form method="get" th:action="@{/quiz}">
                                    <table style="width: 100%">
                                        <thead>
                                        <tr>
                                            <td><b>nazwa quizu</b></td>
                                            <td><b>kategoria</b></td>
                                            <td><b>ilość pytań</b></td>
                                            <td></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="quiz,iter : ${quizList}">
                                            <td th:text="*{quiz.title}"></td>
                                            <td th:text="*{quiz.category}"></td>
                                            <td th:text="*{quiz.questions.size()}"></td>
<!--                                            <td><button type="submit" class="btn btn-danger"  th:value="*{quiz.idQuiz}" name="delete">usuń</button> </td>-->
<!--                                            &lt;!&ndash; <td><button type="submit" class="btn btn-warning"  th:value="*{quiz.idQuiz}" name="change">modyfikuj</button> </td>&ndash;&gt;-->
                                            <td><button type="submit" class="btn btn-primary"  th:value="*{quiz.idQuiz}" name="run">wykonaj</button> </td>
                                        </tr>
                                        </tbody>

                                    </table>


                                </form>
                            </di>

                        </div>

                    </th:block>


        </header>

        <div class="entry-content clearfix">
            <p></p>
        </div>
        </article>

        <div th:replace="fragments/footer "></div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>