<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="fragments/general :: head"/>

<body style="background-color: aliceblue">

<div class="container col-10">

    <div class="row">
        <th:block th:insert="fragments/general :: navbar"/>
    </div>

    <div class="row d-flex justify-content-center">
        <th:block th:replace="fragments/general :: registration(${user})" />
    </div>




    <div class="row align-items-end">
        <div th:insert="fragments/general :: footer"></div>
    </div>
</div>

<th:block th:insert="fragments/general :: js_import"/>
</body>
</html>